/**
 * Clearfix
 * % in css is placeholder selectors
 * Read about what % is in http://thesassway.com/intermediate/understanding-placeholder-selectors
 *
 *Usage
 *	.container-with-floated-children {
  		@extend %clearfix;
 *	}
 *
*/

%clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}